@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

:root {
  --color-primary: #cdd9e5;
  --border-color: #2d3139;
  --lighter-border-color: #3f4450;
  --button-color: #141414c4;

  --color-surface-100: #010409;
  --color-surface-200: #0f1318;
}

* {
  font-size: 50px;
  border-radius: 15px;
  color: var(--color-primary);
  font-family: 'Tilt Neon', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--color-surface-100);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

calculator {
  background-color: var(--color-surface-200);
  border: 5px solid var(--border-color);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: auto;
  padding: 20px;
  padding-top: 60px;
  width: 480px;
}

#display-holder {
  display: flex;
  border: 3px solid var(--border-color);
  background-color: var(--lighter-border-color);
  flex-direction: column;
  padding: 10px;
  flex: 1;
  text-align: end;
  margin-bottom: 30px;
}

#display {
  word-wrap: break-word;
  min-height: 55px;
  width: 400px;
}

#answer-display {
  min-height: 25px;
  font-size: 20px;
}

.button-holder {
  display: flex;
}

.btn {
  flex: 1;
  background: var(--button-color);
  border: 1px solid var(--border-color);
  margin: 10px;
  padding: 10px;
  font-size: 40px;
}

.btn:hover {
  border-color: var(--lighter-border-color);
}

#clear, #delete {
  align-self: flex-start;
  background-color: #b5294c;
  border-radius: 100px;
  padding: 10px;
  font-size: 35px;
}

#delete {
  background-color: #b5294c;
}

footer {
  font-size: 20px;
  margin:auto ;
  margin-bottom: 20px;
  font-weight: bold;
}